/*This selector affects every HTML element*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This selector affects the body element*/
body {
    background-color: #d9dcd6;
}
/*This selector affects the header "Horiseon" element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This selector affects the style of the "h1" header*/
h1 {
    display: inline-block;
    font-size: 48px;
}
/*This selector changes the color of "seo" in the header element*/
.seo {
    color: #d9dcd6;
}
/*This selector is for the navgation element*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This selector affects the unordered list within the navigation element*/
nav, ul {
    list-style-type: none;
}
/*This selector affects the list items for the navgation element*/
nav, ul, li {
    display: inline-block;
    margin-left: 25px;
}
/*This selector affects the color of the font for the navgation element*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*This selector affects the font size for the navgation element*/
p {
    font-size: 16px;
}
/*This selector affects large background image on the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This selector affects the placement of information for the "content" class*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*This selector affects the placement of information for the "content" class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*This selector affects the style for the "content" class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This selector affects the style of the "h2" header within the "contents"*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*This selector affects the style of the "h3" within the "contents"*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*This selector affects the style for the "benefits" class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*This selector affects the style for the "benefits-lead" class*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*This selector affects the style for the image for "benefits-lead" class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This selector affects the style for the image for "benefits-brand" class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This selector affects the style for the image for "benefits-cost" class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This selector affects style for the "search-engine-optimization" class*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing   {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*This selector affects the style for the "search-engine-optimization" image*/
.search-engine-optimization img {
    max-height: 200px;
}
/*This selector affects the style for the "online-reputation-management" image*/
.online-reputation-management img {
    max-height: 200px;
}
/*This selector affects the style for the "social-media-marketing" image*/
.social-media-marketing img {
    max-height: 200px;
}
/*This selector affects the style for the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*This selector affects the style for the header in the footer element*/
.footer h2 {
    font-size: 20px;
}
